$text-color: #222222;
$page-color: #F7F5FA;
$header-text: #4A4556;
$plain-text: #4E4D53;
$dark-title: #000000;
$light-text: #ffffff;
$light-back: #ffffff;
$feedback-back: #161616;
$meandr-orange: #F47821;
$button-hover: #f9f9f9;
$error-color: #EB5757;

$mob: 768px;
$tablet: 1024px;
$desktop: 1280px;
$hd: 1920px;
