<header class="header">
  <div class="header__wrap">
    <h1 class="section-title section-title--large">Ты готов стать профессионалом?</h1>
    <p class="header__text">Мы ищем <a href="#" class="link">талантов</a> и <a href="#" class="link">саппортов</a> в команду. Решите на какую категорию вы претендуете.</p>
    <button type="button" class="button button--with-symbol"><svg width="14" height="14" class="button__symbol"><use xlink:href="#plus"></use></svg><span>Заполнить анкету</span></button>
  </div>
</header>
