.feedback-field {
  display: flex;
  width: 100%;
  margin-bottom: 36px;

  @media (min-width: $mob) {
    margin-bottom: 46px;
  }

  @media (min-width: $tablet) {
    margin-right: 28px;
    margin-bottom: 54px;

    &:last-of-type {
      margin-bottom: 62px;
    }
  }


  & .field-number {

    @media (min-width: $mob) {
      margin-right: 28px;
    }
  }

  & .text-input {
    width: calc(100% - 30px);

    @media (min-width: $mob) {
      margin-top: 20px;
      width: calc(100% - 92px);
    }
  }
}