.section-title {
  margin: 0;
  padding: 0;
  font-family: $dinpro;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  letter-spacing: -0.02em;
  color: $text-color;

  @media (min-width: $mob) {
    font-size: 40px;
  }

  &--large {
    
    @media (min-width: $mob) {
      font-size: 48px;
    }
  }

  &--dark {
    color: $dark-title;
  }

  &--light {
    color: $light-text;
  }

  &--left {
    text-align: left;
  }
}